<a href="https://colab.research.google.com/github/sormazabal/IntroToPython2022/blob/main/Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 4: Numpy

Numpy is a library that allows us to create arrays and perform fast mathematical operations with them.


**But, we already have lists in raw Python, why do we need to use Numpy?**

Numpy arrays use only one type. Thus, the consume less memory and if are able to do faster calculations using them.

**How do numpy arrays work?**

Very similar to lists! You can use indexes and slicing with Numpy arrays too. 
One convenient thing is that you can specify the data type of your array elements from the start. This results in faster operations and helps you avoid common errors that come from mixing data types.

In [1]:
# if you have not installed numpy, you can install it with:

!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (1.21.6)

In [2]:
# Import numpy with the alias "np"
import numpy as np

# First steps

Create your first Numpy array:

In [3]:
a = np.array([1,2,3]) 
print(a)

[1 2 3]

In [6]:
#2D array

b = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])
bshape = b.shape
print(b)
print(bshape)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
(3, 4)

Indexing for 2D array elements

In [11]:
b[:,:]

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [12]:
b[2][2]

11

Difference with list indexing:

In [13]:
b_list = [[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

#Doing this gives me an error:
b_list[2,2]

TypeError: list indices must be integers or slices, not tuple

In [7]:
# You must address elements within a 2D list using the following syntax

b_list[2][2]

11

In [15]:
type(np.asarray(b_list))

numpy.ndarray

In [16]:
type(b_list)

list

### In summary:

a[i][j] --- Gets the element in position i,j for a Python list.

a[i,j]  --- Gets the element in position i,j for a Numpy array.

## Array slicing: Continuation

The basic syntax for slicing is:

array[start:stop:step]

where "start" is usually 0, "stop" the lenght of the array, and "step" is 0.

## Creating arrays

In [17]:
# A convenient way to create Numpy arrays is using np.arrange() which creates an array of the specified length.
# For example:
x = np.arange(15)
print(x)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [18]:
# Create an array with only 0 elements:

y = np.zeros((2,6))
print(y)

z = np.random.random(10) #create an array with 10 elements in the interval [0,1]
print(z)

[[0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0.]]
[0.54703903 0.45560776 0.82184817 0.48433089 0.58836219 0.45902893
 0.27863719 0.47194039 0.23742112 0.70889737]

In [21]:
np.random.randint(5,20,15) #create an array with 10 elements in the interval [0,10)

array([17, 19, 18, 11, 13, 19,  9, 14, 15,  6,  6, 19,  6, 13,  8])

You already know some slicing techniques, let's refresh our memory with the following examples.

In [22]:
# Get the first 7 elements

print(x[:7])

# Get all elements after index = 7

print(x[7:])


# Get all even elements
print(x[::2])

# Get all odd elements

print(x[1::2])

[0 1 2 3 4 5 6]
[ 7  8  9 10 11 12 13 14]
[ 0  2  4  6  8 10 12 14]
[ 1  3  5  7  9 11 13]

In [12]:
# Your turn: 
# get all the elements between indices 5 and 10

### Slicing for 2D arrays

You can use the same approach for getting elements from 2D arrays (or even 3D arrays!). Let's cover some examples:

In [23]:
b

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [13]:
b[:2,:2] # 2 rows, 2 colums

array([[1, 2],
       [5, 6]])

In [14]:
b[:2,:3] # 2 rows, 3 columns

array([[1, 2, 3],
       [5, 6, 7]])

In [15]:
# Invert the order of all elements

b[::-1,::-1]

array([[12, 11, 10,  9],
       [ 8,  7,  6,  5],
       [ 4,  3,  2,  1]])

In [24]:
b.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [16]:
b[:2, ::3] # What does this do?

array([[1, 4],
       [5, 8]])

Getting only one row or column:

In [25]:
# One column
print(b[:,0])

# One row
print(b[0,:])

[1 5 9]
[1 2 3 4]

In [26]:
np.sum(b[:,0])

15

In [27]:
np.mean(b[:,0])

5.0

In [28]:
np.count_nonzero(b[:,0])

3

In [29]:
# What happens if I use only one index?

b[0]

# It is the same as using b[0,:]

array([1, 2, 3, 4])

## Setting elements

A difference between seting elements in lists versus Numpy arrays is that when you change elements in a subarray, those elements also change in the original array. This is because subarrays are just **views** of subsections of arrays, instead of **copies** of the original array.

View example:

In [30]:
sub_b = b[:2,:2] # this is a view
sub_b

array([[1, 2],
       [5, 6]])

In [31]:
sub_b[0,0] = 10 # since we changed an element in a view,
# it will change in the original array too

In [32]:
b

array([[10,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

Copy example:

In [33]:
sub_b_copy = b[:2,:2].copy()

In [34]:
sub_b_copy[0,0] = 15
print(sub_b_copy)

[[15  2]
 [ 5  6]]

In [35]:
b # The first element was not modified

array([[10,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

# Reshaping arrays

In [38]:
# Let's use our example x again:
x = np.arange(15)
x

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

However, this time we don't want to use a 1D array, we want a 2D array:

In [40]:
x = x.reshape((3,5)) 
x

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

Reshape follows the syntax:

nparray.reshape((a,b))

where a*b = length of the original array

In [41]:
x = np.arange(15)

#You can also transform a 1D array into a 2D array of only one row or column

# One row
print(x.reshape((1,15)))

#One column
print(x.reshape((15,1)))

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]]
[[ 0]
 [ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]
 [13]
 [14]]

Alternative way of getting 1 row or 1 column:

In [42]:
# Row
print(x[np.newaxis, :])

# Column
print(x[:,np.newaxis])

[[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]]
[[ 0]
 [ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]
 [13]
 [14]]

Now that I know how to reshape my arrays, how do I concatenate two or more of them? And what do I do if I want to split my array in two?

# Concatenation, Stacking, and Splitting

In [43]:
x = np.arange(5)
y = np.arange(5,10)
z = np.arange(10, 16)

In [44]:
print(x)
print(y)
print(z)

[0 1 2 3 4]
[5 6 7 8 9]
[10 11 12 13 14 15]

In [45]:
# 1D Concatenation
np.concatenate([x,y]) # notice that the concatenated arrays go into brackets

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [30]:
# 1D Concatenation of more than one array
np.concatenate([x,y, z])

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

Concatenating 2D arrays

In [46]:
x = np.arange(9)
x = x.reshape((3,3))
x

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [47]:
np.concatenate([x,x], axis = 1) # concatenating arrays along axis = 0, the rows

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [33]:
# this is equivalent to using np.vstack
np.vstack([x,x]) #vertical, axis = 0

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8],
       [0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [48]:
np.hstack([x,x]) #horizontal, axis = 1

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

In [ ]:
np.concatenate([x,x], axis = 1) # concatenating arrays along axis = 1, the columns

In [34]:
#This is equivalent to using np.hstack
np.hstack([x,x]) #horizontal

array([[0, 1, 2, 0, 1, 2],
       [3, 4, 5, 3, 4, 5],
       [6, 7, 8, 6, 7, 8]])

## Splitting

In [35]:
x = np.arange(10)

np.split(x,5) # If I use just a number, this number specifies 
#the number of subarrays I will create

[array([0, 1]), array([2, 3]), array([4, 5]), array([6, 7]), array([8, 9])]

In [36]:
np.split(x, [3, 5]) #the list corresponds to the indices at which the array 
#will be partitioned

[array([0, 1, 2]), array([3, 4]), array([5, 6, 7, 8, 9])]

### Splitting 2D arrays

In [40]:
x = np.arange(9)
x = x.reshape((3,3))

In [41]:
np.vsplit(x, [2]) #separate in upper and lower parts

[array([[0, 1, 2],
        [3, 4, 5]]), array([[6, 7, 8]])]

In [42]:
np.hsplit(x, [2]) # separate in right and left

[array([[0, 1],
        [3, 4],
        [6, 7]]), array([[2],
        [5],
        [8]])]

https://jakevdp.github.io/PythonDataScienceHandbook/02.03-computation-on-arrays-ufuncs.html

# Calculating values (FAST!) with Numpy arrays

Before, we saw that we can perform a repeated operation over the elements on a list by iterating through it, but there is a faster way: **vectorized operations**. This means that we can use a function over a numpy array and this function will be executed over the whole array in a quicker way.

In [ ]:
x = np.arange(5)

3 ** x

In [44]:
a = np.arange(5)
b =np.arange(10, 15)

#Multiply two vectors

print(a)
print(b)
print(a/b)
print(a*b)

[0 1 2 3 4]
[10 11 12 13 14]
[0.         0.09090909 0.16666667 0.23076923 0.28571429]
[ 0 11 24 39 56]

# Basic math using Numpy arrays

With Numpy, we can add/substract/multiply/divide by one number, all at the same time.

In [45]:
import numpy as np

x = np.arange(5)

print("x     =", x)

print("x + 5 =", x + 10)
print(np.add(x,10))


print("x - 5 =", x - 3)
print(np.subtract(x,3))

print("x * 2 =", x * 3)
print(np.multiply(x,3))



print("x / 2 =", x / 10)
print(np.divide(x,2))


print("x // 2 =", x // 2) #takes the "floor"
print(np.floor_divide(x,2))


print("-x     = ", -x) #changing sign
print(np.negative(x))



print("x ** 2 = ", x ** 2) #exponentiation
print(np.power(x,2))

print("x % 2  = ", x % 2) #modulo
print(np.mod(x,2))

x     = [0 1 2 3 4]
x + 5 = [10 11 12 13 14]
[10 11 12 13 14]
x - 5 = [-3 -2 -1  0  1]
[-3 -2 -1  0  1]
x * 2 = [ 0  3  6  9 12]
[ 0  3  6  9 12]
x / 2 = [0.  0.1 0.2 0.3 0.4]
[0.  0.5 1.  1.5 2. ]
x // 2 = [0 0 1 1 2]
[0 0 1 1 2]
-x     =  [ 0 -1 -2 -3 -4]
[ 0 -1 -2 -3 -4]
x ** 2 =  [ 0  1  4  9 16]
[ 0  1  4  9 16]
x % 2  =  [0 1 0 1 0]
[0 1 0 1 0]

For the next excercise, try using several functions at the same time. For example:
(x+1)/2

In [ ]:
# Enter your code here

Exponential

In [ ]:
x = np.arange(4)
print("x     =", x)
print("e^x   =", np.exp(x))
print("2^x   =", np.exp2(x))
print("3^x   =", np.power(3, x))

Logarithms

In [ ]:
x = np.array([1, 2, 4, 10])
print("x        =", x)
print("ln(x)    =", np.log(x))
print("log2(x)  =", np.log2(x))
print("log10(x) =", np.log10(x))

## Reduce

Reduce takes elements of an array, one or two at a time and applies one function to them. The output is only one value.
![image.png]()

In [46]:
# An example of "reduce" using the "add" function.
import numpy as np

x = np.arange(1, 6)
np.add.reduce(x)

15

In [47]:
np.multiply.reduce(x)

120

If you want to retrieve all the previous results, you can use the acumulate() function instead:

In [48]:
np.add.accumulate(x)

array([ 1,  3,  6, 10, 15])

Trigonometric functions

In [49]:
theta = np.linspace(0, np.pi, 3)
print("theta      = ", theta)
print("sin(theta) = ", np.sin(theta))
print("cos(theta) = ", np.cos(theta))
print("tan(theta) = ", np.tan(theta))

theta      =  [0.         1.57079633 3.14159265]
sin(theta) =  [0.0000000e+00 1.0000000e+00 1.2246468e-16]
cos(theta) =  [ 1.000000e+00  6.123234e-17 -1.000000e+00]
tan(theta) =  [ 0.00000000e+00  1.63312394e+16 -1.22464680e-16]